:root {
    --navigation-bg-color: #011627;
    --content-bg-color: #334452;
    --site-brand-first-letter-color: #990000;
    --greeting-color: #e71d36;
    color: #151b25;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--content-bg-color);
}

main {
    position: relative;
    overflow: hidden;
}

main:before, main:after {
    content: "";
    display: table;
    table-layout: fixed;
}

main > div {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right:15px;
    display: block;
}

@media (min-width: 768px) {
    main > div {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    main > div {
        max-width: 950px;
    }

}

@media (min-width: 1230px) {
    main > div {
        max-width: 1170px;
    }
}
