.container {
    position: relative;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -50px;
    margin-bottom: 0px;
    padding: 73px 40px 0px 40px;
}

.wrap {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    --wrap-min-height: 60vh;
}

.wrap > div:nth-of-type(1) {
    width: 40%;
    min-height: var(--wrap-min-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap > div:nth-of-type(1) > div:not(:last-child){
    margin-bottom: 20px
}

.wrap > div:nth-of-type(2) {
    width: 60%;
    min-height: var(--wrap-min-height);
}

.greeting {
    color: var(--greeting-color);
    font-size: 18px;
    font-weight: 400;
}

.personName {
    font-size: 60px;
    font-weight: 700;
    line-height: 61px;
    padding: 0;
    margin: 0;
}

.line {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 0;
    font-size: 0;
}

.line > span {
    display: inline-block;
    width: 35px;
    border-top: solid 2px var(--greeting-color);
    direction: ltr;
}

.position {
    color: #505050;
    font-size: 20px;
    font-weight: 400;
}
